.homepage {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-content {
  width: 50%;
  padding: 20px;
}

.hero-image {
  background-size: cover;
  background-position: center;
}

.rentals-container {
  max-width: 400px; /* Adjust this value as needed */
  margin: auto; /* Centers the container */
  padding: 20px;
}

.rentals {
  display: grid;
  gap: 20px;
}

.rental-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 20px
}

.rental-overview {
  display: flex;
  align-content: center;
  justify-content: center;
}

.policies {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

