.faq-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .faq-section {
    padding: 20px;
  }
  
  .faq-card {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    list-style: none;
  }
  
  .faq-card summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  .faq-content {
    padding: 10px;
  }
  
  .faq-content ul {
    list-style: none;
    padding-left: 20px;
  }
  